* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/*HEADER*/

header {
    /* background-color: #2c2c2c;  */
    background-image: linear-gradient(to top, #2c2c2c, rgb(75,75,75));
    padding-bottom: 5px;
    /* opacity: 0.85; */
}

.top-header {
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 5px 8px;
}

.search-bar {
    order: 1;
}

.search-bar button, .search-bar input {
    /* background-color: #fa4500; */
    /* color: white; */
   /* box-shadow: 0 0 5px #fff ; */ 
    border: none;
    font-weight: normal;
    padding: 4px;
    border-radius: 3px;
}

.search-bar button {
    background-color: #fa4500;
    color: white;
}


    /*LOGO*/

header .logo {
    width: 30vw;
}

header .logo img {
    width: 100%;
}

.top-navbar {
    display: none;
}

.sign-in {
    display:none;
}

.down-navbar {
    display: none;
}

    /*BURGER MENU*/

label.burger-menu1 i {
    font-size: 20px;
    padding: 5px;
    color: white;
}

label.burger-menu1 {
    display: block;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    text-align: center;
    background-color: #fa4500;
    border-radius: 20%;
    box-shadow: 0 0 5px #fff;
}

input.burger-check {
    opacity: 0;
}

div.burger-menu {
    position: relative;
    user-select: none;
}

div.burger-menu a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}

div.burger-menu a:hover {
    color:#00acee;
}

div.burger-menu ul.burger-options {
    position:absolute;
    padding: 20px;
    background-image: linear-gradient(to bottom, #2c2c2c, rgb(75,75,75));
    list-style-type: none;
    top: 100%;
    left:0;
    right:0;
    transform: translate(0 , -300%);
    z-index: 100;
    opacity: 0;
    transition: opacity 0.6s ease;
}

div.burger-menu .burger-options li {
    padding: 5px 0;
    font-size: 15px;
    text-align: center;
}

.burger-menu input:checked ~ ul{
    transform: none;
    opacity: 0.96;
}

/* MAIN */
main {
    background-image: url('/images/Prueba1.webp');
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
    padding: 10vw 0;
}

    /*REGISTER*/

    div.register {
        width: 88vw;
        margin: 0 auto;
        padding: 40px 20px;  
        background-color: rgba(80, 80, 80, 0.9);
        color: white;
        border-radius: 10px;
    }
    
    div.register h2 {
        text-align: center;
        color: red;
        border-bottom: 1.5px solid red;
        margin-bottom: 30px;
        padding-bottom: 3px;
    }

    main form .user-image {
        text-align: center;;
    }

    main form .user-image i {
        font-size: 100px;
        margin-bottom: 20px;
    }

    main form .user-image img {
        width: 150px;
        margin-bottom: 20px;
    }

    main form .user-image label:hover {
        color: orangered;
        cursor: pointer;
    }

    main form .fill-form input {
        width: 100%;
        background-color: white;
        height: 25px;
        padding-left: 10px;
        border-radius: 5px;
    }

    main form input:focus {
        color: green;
        box-shadow: 0px 0px 10px rgb(48, 190, 233);
    }

    main form div {
        margin: 10px;
    }

    main form div label {
        display: block;
        margin-bottom: 5px;
        font-style: italic;
    }

    main form div span {
        margin: 5px;
        display: block;
        color:red;
    }

    main form div .register-term {
        display: flex;
        justify-content:space-between;
        align-items: center;
        flex-wrap: wrap;
        padding-top: 10px;
    }

    main form div .register-term input {
        width: 25px;
    }

    main form .submit-form {
        text-align: right;
    }

    main form .submit-form button {
        font-size: 18px;
        padding: 5px;
        background-color: orangered;
        color: white;
        border: none;
        border-radius: 6px;
        margin-top: 30px;
        margin-left: 10px;
        transition: all 0.5s;
    }

    main form .fill-form input:focus:invalid ~ .feedback::after {
        color: red;
        content: "⛔-Campo Invalido";
    }

    main form .fill-form input:focus:valid ~ .feedback::after {
        color: green;
        content: "✅";
    }

/*FOOTER*/

footer {
    border-top: 1px solid black;
    background-color: rgb(230, 230, 230);
}

.social-media h5 {
    font-family: sans-serif;
    font-size:25px;
    letter-spacing: 4px;
    text-align: center;
    font-weight: normal;
    padding: 20px 0 20px 0;
    color:#555;
}

.social-media-icon {
    text-align: center;
    padding-bottom: 15px;
    font-size: 30px;
}

.social-media-icon i {
    color:#777;
    margin: 10px;
    padding: 5px;
    transition: all 0.3s;
}

.social-media-icon i.fa-brands.fa-facebook:hover {
    text-shadow: 0 0 10px rgb(158, 158, 255);
    color:#3b5998;
}

.social-media-icon i.fa-brands.fa-twitter:hover {
    text-shadow: 0 0 10px #24b8f2;
    color: #00acee;
}

.social-media-icon i.fa-brands.fa-instagram:hover {
    text-shadow: 0 0 10px #f35d57;
    color: #f14843;
}

.social-media-icon i.fa-brands.fa-youtube:hover {
    text-shadow: 0 0 10px rgb(255, 98, 98);
    color: #f00;
}

.top-footer {
    /* background-color: #2c2c2c; */
    background-image: linear-gradient(to bottom, #2c2c2c, rgb(75,75,75));
    /* color: #fa4500; */
    color: white;
    padding: 10px;
}

.bottom-footer {
    border-top: 0px solid white;
    padding: 10px;
    background-color: rgb(75,75,75);
    color: white;
}

.top-footer-section-bicimundo, .top-footer-section-links, .top-footer-section-cuenta {
    display: none;
}

.top-footer-section-contacto {
    text-align: center;
}

.top-footer h4 {
    /* color:black; */
    color: #fa4500;
    /* text-shadow: 0 0 5px #fff; */
}

.top-footer-section-contacto ul {
    margin-top: 5px;
}

.top-footer li {
    font-size: 14px;
    list-style-type: none;
}

.top-footer li i {
    margin-right: 3px;
    color:black;
    text-shadow: 0 0 5px #fff;
}

.copyright-1 {
    border-top: 1px solid white;
    font-size: 14px;
}

.copyright-2 {
    color: rgb(118, 187, 255);
    font-size: 12px;
}

.copyright-3 {
    font-size: 12px;
}

/*MEDIA QUERY*/

@media (min-width: 481px) {

    /*HEADER*/
    header .logo {
        width: 20%;
    }

    .sign-in {
        display:block;
        order: 2;
        text-align: center;
        font-size: 25px;
        margin-right: 15px;
        text-shadow: 0 0 5px #fff;
    }

    .sign-in a {
        color: #fa4500;  
        margin-right:10px; 
        text-decoration: none; 
    }

    .search-bar {
        width:50%;
        text-align: right;
    }

    .search-bar input {
        width: 80%
    }

    div.burger-menu {
        display:none;
    }
    
    .down-navbar {
        display: block;
    }

    .down-navbar ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        list-style-type: none;
    }

    .down-navbar li a {
        text-decoration: none;
        color: #fa4500;
        font-size: 14px;
    }

    .down-navbar li a:hover {
        font-weight: bold;
    }
}

@media (min-width: 960px) {
    main {
        background-attachment: scroll;
        padding: 5vw 0;
    }

    /*HEADER*/
    .sign-in {
        display:none;
    }
    
    .top-navbar {
        display: block;
        width: 31%;
    }

    .top-navbar ul {
        display:flex;
        justify-content: flex-end;
        list-style-type: none;
    }

    .top-navbar li a {
        text-decoration: none;
        /* color: #fa4500; */
        color:white;
        margin: 0 10px;
    }
    
    .search-bar {
        order:0;
        width: 31%;
        text-align: left;
    }

    header .logo {
        width: 15%;
    }

    /*REGISTER*/

    div.register {
        width: 70vw;
    }

    div.register form {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap:wrap;
        height: 650px;
        justify-content: space-between;
    }

    div.fill-form {
        width: 50%;
        height: 100%;
    }

    div.user-image {
        order:1;
        width: 50%;
        padding-top: 30px;
    }

    div.submit-form {
        order: 3;
        padding: 30px;
        margin-right: 5%;
    }

    main form .submit-form button:hover {
        color: rgb(51, 186, 51);
        background-color: white; 
        font-size: 15px ;
        text-align: center;
        box-shadow: 0 0 20px black;
    }

    /*FOOTER*/

    .top-footer-section-bicimundo, .top-footer-section-links, .top-footer-section-cuenta {
        display: block;
    }

    .top-footer {
        display: flex;
        justify-content: space-evenly;
        padding: 20px;
    }

    .top-footer a {
        text-decoration: none;
        color:white;
    }

    .top-footer h4 {
        border-bottom: 1px solid grey;
    }

    .top-footer-section-contacto {
        text-align: left;
    }
}
