<div class="container-slider-mobile">
    <div class="slider">
        <div class="slider-section"><img class="slider-images" src="/images/slider-mobile-1.jpg" alt="slider-1"></div>
        <div class="slider-section"><img class="slider-images" src="/images/slider-mobile-2.jpg" alt="slider-2"></div>
    </div>
    <span class="slider-button slider-left-button"><i class="fa-solid fa-circle-arrow-left"></i></span>
    <span class="slider-button slider-right-button"><i class="fa-solid fa-circle-arrow-right"></i></span>
</div>
<div class="container-slider">
    <div class="slider">
        <div class="slider-section"><img class="slider-images" src="/images/slider-1.jpg" alt="slider-1"></div>
        <div class="slider-section"><img class="slider-images" src="/images/slider-2.jpg" alt="slider-2"></div>
    </div>
    <span class="slider-button slider-left-button"><i class="fa-solid fa-circle-arrow-left"></i></span>
    <span class="slider-button slider-right-button"><i class="fa-solid fa-circle-arrow-right"></i></span>
</div>