<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %> 
    <link rel="stylesheet" href="/css/nosotros-style.css" type="text/css">
    <title>BiciMundo-Quienes Somos</title>
</head>
<body>
    <%- include('../partials/header.ejs') %> 
    <main>
        <div class="nosotros-header">
            <figure>
                <img src="/images/nosotros-header.jpg" alt="Imagen nosotros">
            </figure>
            <h2 class="nosotros-title">SOMOS CICLISTAS, ES NUESTRA PASIÓN Y TAMBIÉN ES NUESTRO TRABAJO</h2>
        </div>
        <section class="nosotros">
            <article>
                <h4>Todas las personas que cada día hacemos <a href="/">BiciMundo</a> tenemos como objetivo ayudarte a descubrir la bicicleta que te llevará al próximo gran reto.</h4>
                <p>Nuestra historia es sencilla. No encontrábamos ninguna web 100% segura para comprar bicicletas, así que decidimos crearla. La visión nace en 2022, cuando hablamos con más de 300 ciclistas y triatletas que habían comprado una bicicleta por Internet y descubrimos que la mayoría de ellos había tenido malas experiencias y había sufrido algún engaño. Así que desde el inicio tuvimos claro que el objetivo debía ser construir un sistema 100% transparente, cómodo y seguro basado en proporcionar la mejor experiencia de cliente posible.</p>
                <p>Entendemos que la mejor forma de crear negocios es aportando valor y solucionando problemas. Y eso es lo que hacemos. No vendemos bicicletas, vendemos confianza porque nuestro objetivo no es que te compres la bicicleta más cara ni la que nos deje una comisión más alta, sino la que realmente necesitas para tus hábitos, objetivos y retos deportivos.</p>
            </article>
            <article>    
                <h4 class="nosotros-grupo">Esta es nuestra grupeta</h4>
                <div>
                    <figure>
                        <img src="/images/nosotros-grupo.jpg" alt="Imagen de grupo">
                    </figure>
                    <p class="nosotros-slogan">Ofrecer un trato cercano y un asesoramiento personalizado forma parte de nuestro ADN y va a seguir siendo así.</p>
                </div>
            </article>
            <article>
                <h4>¿QUÉ RUTA SEGUIREMOS?</h4>
                <p>Nos motiva mucho el futuro y seguir transformando el mercado de la bicicleta a través de nuestro innovador modelo y con una experiencia de cliente única. Somos una web, pero el trato cercano y el asesoramiento forman parte de nuestro ADN y va a seguir siendo así.</p>
                <p>Nos entusiasma asesorar a miles de ciclistas, ayudar a cientos de pequeñas tiendas locales a vender sus bicicletas por toda Argentina y asistir a la digitalización de marcas y fabricantes. El ciclismo no es sólo nuestro trabajo, también es nuestra pasión.</p>
            </article>
        </section>
    </main>
    <%- include('../partials/footer.ejs') %> 
</body>
</html>